<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>

    <a href="/gossips/new/">Suviez le lien gossip</a>
    
    
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.mon_super_auteur %><br/>
        <%= gossip.ma_super_description %>
      </p>
    <% end %>
 
  
    </body>
</html>